* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container {
  color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 600px;
  width: 1000px;
  padding: 20px;
  background: slateblue;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container .left {
  height: 100%;
  width: 40%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.container .left img {
  border-radius: 20px;
}
.container .left h1 {
  text-align: center;
}
.container .right {
  height: 90%;
  width: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 50px;
  background: white;
  color: slateblue;
  border-radius: 20px;
}
.container .right ul {
  list-style-type: none;
  display: flex;
}
.container .right ul li {
  font-size: 25px;
  margin-left: 10px;
}
.container .right .keyboard {
  width: 100%;
  text-align: center;
}
.container .right .keyboard button {
  margin: 5px 0px;
  height: 45px;
  width: 45px;
  color: white;
  background: slateblue;
  font-size: 20px;
  border-radius: 10px;
  font-weight: bold;
  border: none;
  outline: none;
  cursor: pointer;
}
footer{
  position: absolute;
  bottom:0;
  width:100%;
  margin-bottom:10px;
}
footer p{
  text-align: center;
  width:100%;
}
@media (max-width: 1025px) {
  .container {
    padding: 20px;
    height: 700px;
    width: 370px;
    flex-direction: column;
  }
  .container .left {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container .left h1 {
    margin-top: 15px;
  }
  .container .left img {
    height: 250px;
    width: 250px;
  }
  .container .right {
    height: 500px;
    width: 100%;
    gap: 30px;
  }
  .container .right p {
    padding: 0px 10px;
    text-align: center;
  }
  .container .right ul {
    margin-top: 20px;
  }
  .container .right ul li {
    font-size: 19px;
  }
  .container .right .keyboard {
    margin-bottom: 20px;
  }
  .container .right .keyboard button {
    height: 32px;
    width: 32px;
    font-size: 15px;
  }
}